/* Reset */
body{font-family:Arial,sans-serif;line-height:1.4}
th{text-align:inherit;vertical-align:top}
td{vertical-align:top}
[hidden]{display:none}

/* Admin */
table{border:1px solid #ccc;border-collapse:collapse;width:100%}
th,td{border:1px solid #ccc;padding:4px 10px}
.value_null{color:#999}

tr:nth-child(2n){background:#eee}

.sentence{display:grid;grid-template-columns: 40px 1fr;gap:4px;margin:10px 0}
.sentence_id{font-weight:bold}
.sentence_sentence{font-weight:bold}
.sentence_expand{grid-column:2}
.sentence_analysis{grid-column:2;overflow:auto}
.sentence_analysis td{white-space:nowrap}

